<?php

// Database details
$servername = "127.0.0.1";
$username = "myUsername";
$password = "myPassword";
$dbname = "databaseName";

// Contract details
$contractId = "7071860869716171474";
$firstTradeEpoch = 1661784628;
$firstTradePrice = 200.0;

// Selected node to fetch info
$signumNode = "https://brazil.signum.network";

// uncomment if you want to use php cli to debug the program
// parse_str(implode('&', array_slice($argv, 1)), $_GET);
